<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{appTitle}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>

   <body>
      <header>
         <nav>
         <a href="/authors">Authors</a> | 
         <a href="/authors/create">Create new author</a> | 
         <a href="/books">Books</a> | 
         <a href="/books/create">Create new book</a>
         <br />
         </nav>
         
         <nav>
            
            
            {{#if userInSession}}
            Hello, {{ userInSession.email }}! |
            <a href ="/user-profile">User Profile</a> 
               <form action="/logout" method="POST">
               <button>Logout</button>
               </form>
            {{else}}
               <P>User is not loggedin.....</P>
               <a href="/signup">Create an account</a> | 
               <a href="/login">Login</a>
            {{/if}}
         </nav>
         
      </header>
      {{{body}}}

      <script src="/js/script.js"></script>
   </body>

</html>